body {
	font-family: Helvetica, sans-serif;
	color: #EE9546;
	background-color: #663300;
	font-size: 150%;
}

#nav {
	display: inline-block;
	background-color: #EE9546;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid #663300;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
}

#nav li {
	display: inline;
	color: #EAF30A;
	padding: 0.5em;
	margin: 0.5em;
}

a:link {
	text-decoration: none;
	color: #663300;
}

a:visited {
	text-decoration: none;
	color: #663300;
}

a:active {
	text-decoration: none;
	color: #663300;
}

a:hover {
	text-decoration: underline;
}

#view {
	display: block;
	width: 20em;
	border: 1px solid #EE9546;
	margin: 0.5em;
	padding: 0.5em;
	line-height: 1.5;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
}

label {
	display: inline-block;
	width: 8em;
}